body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2e2e2e;
    font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

canvas {
    border: 1px solid #333;
}

.screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.screen h1 {
    color: #ff0;
    margin-bottom: 20px;
}

.screen button {
    background: #ff0;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

#waitingScreen,
#gameOverScreen {
    width: 300px;
}

#debugInfo {
    position: fixed;
    top: 400px;
    left: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    z-index: 1000;
    overflow-y: scroll; /* 수직 스크롤바 추가 */
    height: 200px; /* 높이 설정 */
}

.player-stats {
    position: fixed;
    top: 200px;
    left: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}